<div id="slider" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <% sliderInfo.forEach((info, index) => { %>
            <% if(index == 0) { %>
                <button type="button" data-bs-target="#slider" data-bs-slide-to="<%= index %>" class="active" aria-current="true" aria-label="Slide <%=(index + 1)%>"></button>
            <% } %>
            <% if(index != 0) { %>
                <button type="button" data-bs-target="#slider" data-bs-slide-to="<%= index %>" aria-label="Slide <%=(index + 1)%>"></button>
            <% } %>
        <% }) %>
    </div>
    <div class="carousel-inner slider-container">
        <div class="carousel-item active">
            <div class="slider-info">
                <h1 class="slider-info-app"> Chapa tu ofi! </h1>
                <p class="slider-info-little-p"> Quedate en casa </p>
                <h1 class="slider-info-title"> 
                    Consulta el
                    <em class="slider-info-em"> aforo disponible actual </em> 
                    de nuestras oficinas
                </h1>
                <p class="slider-info-p"> En tiempo real </p>
                <a class="slider-info-span" href="/aforo"> Ingrese aquí </a>
            </div>
            <div class="slider-img-container">
                <img class="d-block w-100 slider-img" alt=""
                src="https://www.bbva.pe/content/dam/public-web/peru/photos/marquees/COMPLEX-HOGAR-TOTAL-1000X1000.im1659974507614im.jpg?imwidth=960">
            </div>
        </div>

        <% sliderInfo.forEach(info => { %>
            <div class="carousel-item">
                <div class="slider-info">
                    <p class="slider-info-little-p"> <%= info.littleP %> </p>
                    <h1 class="slider-info-title"> 
                        <%= info.title1P %> 
                        <em class="slider-info-em"> <%= info.titleEm %> </em> 
                        <%= info?.title2P %>
                        <% if(info.titleEm2) { %>
                            <em class="slider-info-em"> <%= info.titleEm2 %> </em> 
                        <% } %>
                    </h1>
                    <p class="slider-info-p"> <%= info.p %> </p>
                    <span class="slider-info-span"> <%= info.span %> </span>
                </div>
                <div class="slider-img-container">
                    <img class="d-block w-100 slider-img" alt=""
                    src="<%= info.img %>">
                </div>
            </div>
        <% }) %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>